$svg-line-graph-width: 70vw;
$svg-line-graph-height: 50vh;
$svg-line-graph-gap-width: 15vw;
$svg-line-graph-gap-height: 5vh;
$dark-color: lightslategrey;
$light-color: lightsteelblue;

* {
  margin: 0;
}

body {
  header {
    display: block;
    background-color: $dark-color;
    h1 {
      font: 4vw arial;
      text-align: center;
      color: lavender;
    }
  }
  nav {
    display: block;
    background-color: $light-color;
    padding: 5px;
    text-align: center;
    button {
      background-color: $light-color;
      border: 5px solid white;
      border-radius: 10px;
      font-size: 3vw;
    }
    button:hover {
      background-color: lavender;
      border-color: $dark-color;
    }
    button:active {
      color: lightgrey;
    }
  }
  p {
    text-align: center;
    font: 2vw arial;
  }
  .a--to-top {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    z-index: 5;
    background-color: $dark-color;
    padding: 5px;
    border-radius: 5px;
    a {
      text-decoration: none;
      color: white;
      font-family: arial;
    }
  }
  .svg-graph {
    width: $svg-line-graph-width + $svg-line-graph-gap-width * 2;
    height: $svg-line-graph-height + $svg-line-graph-gap-height * 2;
    .svg__g-graph {
      transform: translate($svg-line-graph-gap-width * 0.7, $svg-line-graph-gap-height);
      .path-xy-line {
        fill: none;
        stroke: brown;
        stroke-width: 2px;
      }
      .g-x-axis {
        font-size: 1.5vw;
        transform: translate(0, $svg-line-graph-height);
      }
      .g-y-axis {
        font-size: 2vh;
      }
      .js--circle {
        fill: mediumturquoise;
        cursor: pointer;
      }
    }    
  }
  .table--center {
    margin: auto;
    border: 1px solid $dark-color;
    .js-table__tr--highlight {
      border: 1px solid $dark-color;
      background-color: $light-color;
    }
  }
}
